language: python
python:
  - "2.7"
before_install:
  - sudo apt-get update -qq
  - sudo apt-get install -qq librrd-dev
install:
  - pip install -r requirements.txt
  - pip install coverage nose
script:
  - nosetests --with-coverage --cover-package=db,graphs,rrd,settings,tests