{% extends "graphs/base.html" %}

{% block title %}<h3>index</h3>{% endblock %}

{% block content %}
  <p><a href="visitors/"><img src="visitors/1d.png" alt="visitors/1d.png"/></a></p>
  <p><a href="chat/"><img src="chat/1d.png" alt="chat/1d.png"/></a></p>
  <p><a href="posts/"><img src="posts/1d.png" alt="posts/1d.png"/></a></p>
  <p><a href="topics/"><img src="topics/1d.png" alt="topics/1d.png"/></a></p>
  <p><a href="members/"><img src="members/1d.png" alt="members/1d.png"/></a></p>
{% endblock %}
