<html>
<head>
<title>404 ENOCHICKEN</title>
<link href="/media/favicon.ico" rel="icon" type="image/x-icon"/>
<style type="text/css">
        body {
                background-color: #eeeeee;
                font-family: Helvetica, sans-serif;
                padding: 15px;
        }
        a {
                color: #444444;
        }
        a:hover {
                color: #666666;
        }
</style>
</head>
<body>
<h1>404</h1>
<hr/>
<h2>Die hebben we niet.</h2>
<h3>Wat heeft u dan voor kip?</h3>
<h4>We hebben helemaal geen kip!</h4>
<h5>Oooh ja!</h5>
</body>
</html>
